body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: #fffef6;
    color: #503333;
  }
 
 


  .top-banner {
    background-color: #314d31;
    color: #ffffff;
    text-align: center;
    font-size: 14px;
    padding: 10px;
  }
 
 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fffaf0;
    padding: 15px 40px;
    border-bottom: 1px solid #e2d3b8;
  }
 
 
  .navbar-left {
    display: flex;
    align-items: center;
    gap: 100px;
  }
 
 
  .navbar-left h1 {
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: 600;
    text-transform: lowercase;
    color: #2f2f2f;
  }
 
 
  .nav-links a {
    text-decoration: none;
    color: #2f2f2f;
    margin-right: 20px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: 'Montserrat', sans-serif;
  }
 
 
  .nav-links a:hover {
    color: #314d24;
  }
 
 


  .dropdown {
    position: relative;
    display: inline-block;
  }
 
 
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fffef8;
    min-width: 130px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
    border: 1px solid #d9c5a3;
    z-index: 10;
  }
 
 
  .dropdown-content a {
    color: #2f2f2f;
    padding: 10px 15px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
  }
 
 
  .dropdown-content a:hover {
    background-color: #f3e7d0;
  }
 
 
  .dropdown:hover .dropdown-content {
    display: block;
  }
 


  .navbar-right-group {
    display: flex;
    align-items: center;
    gap: 25px;
  }
 
 
  .search-bar {
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    gap: 8px;
  }
 
 
  .search-bar input {
    border: none;
    outline: none;
    background: none;
    padding: 5px;
    width: 150px;
    font-family: 'Montserrat', sans-serif;
  }
 
 
  .navbar-icons a {
    color: #314d24;
    margin-left: 12px;
    font-size: 18px;
  }
 
 
  .navbar-icons a:hover {
    color: #1f3e28;
  }
 
 
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    background-color: #fffef3;
  }
 
 
  .login-box {
    background-color: #fffef8;
    border: 1px solid #e2d3b8;
    box-shadow: 0 2px 6px rgba(56, 110, 73, 0.05);
    padding: 40px 50px;
    border-radius: 5px;
    text-align: center;
    width: 350px;
  }
 
 
  .login-box h2 {
    font-family: 'Playfair Display', serif;
    color: #314d24;
    font-size: 40px;
    margin-bottom: 30px;
  }
 
  .login-box input {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    border: 1px solid #d9c5a3;
    border-radius: 3px;
    outline: none;
    background-color: #fcfaed;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #2f2f2f;
  }
 
 
  .login-box input:focus {
    border-color: #314d24;
  }
 
 


  .login-box button {
    background-color: transparent;
    border: 1px solid #3c2e24;
    color: #314d24;
    padding: 10px 22px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 500;
    font-family: 'Montserrat', sans-serif;
  }
 
 
  .login-box button:hover {
    background-color: #314d24;
    color: #fff;
  }
 
 


  .login-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
 
 
  .login-links a {
    text-decoration: none;
    color: #314d24;
    font-size: 14px;
    transition: color 0.3s ease;
    font-family: 'Montserrat', sans-serif;
  }
 
 
  .login-links a:hover {
    color: #1f3e28;
  }
